.flowers {
    position: absolute;
    top: 10px;
    left: 40px;
}

.lorem {
    position: relative;
    margin: 50px auto;
    max-width: 600px;
    font-size: 3rem;
}

.glitter {
    position: absolute;
    top: 40px;
    left: 50px;
}