body {
    animation: change-color 7s infinite alternate;
}

@keyframes change-color {
    0% {
        background-color: #fdd2a3;
    }

    50% {
        background-color: #fceb94;
    }

    100% {
        background-color: #abd380;
    }
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 80px auto;
    animation: skew 3s infinite alternate;
}

@keyframes skew {
    0% {
        transform: skew(0deg, 0deg);
    }

    100% {
        transform: skew(30deg, 20deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale();
    }
}

.square {
    background-color: #de9a87;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin: 50px auto;
    transition: all 1s;
    animation: scale 5s infinite alternate;
}

.square:hover {
    background-color: #9b4f3a;
    transform: rotate(30deg);
}

.button-div {
    text-align: center;
}

.button {
    color: #fff;
    background-color: #567953;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
}

.button:hover {
    background-color: #2b4528;
    transform: scale(1.5);
}

.loading {
    background-color: #9b4f3a;
    animation: stretch 5s infinite alternate;
    width: 80vw;
    transition: 2s;
}

.loading:hover {
    background-color: #444935;
}

@keyframes stretch {
    0% {
        width: 100px;
    }

    100% {
        width: 80vw;
    }
}