/* color palette */

:root {
--bg-color-1: #cfc7bd;
--bg-color-2: #ded8d6;
--accent-1: #484240;
--accent-2: #ae5a3b;
}



/* Css resets  */

* {
    margin: 0;
    padding: 0;
}

/* respect user font size preferences */
html {
    font-size: 100%;
}

/* General CSS  */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color-1);
    color: var(--accent-1);
    font-family: "Domine", serif;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: justify;
}

@media (max-width: 700px){
    body {
        font-size: 1.3rem;
    }
} 

header {
    padding: 6rem;
    margin-bottom: 3rem;
    background-color: var(--bg-color-2);
    color: var(--accent-1);
    font-family: "Chonburi", serif;
    border-bottom: var(--accent-1) 1px solid;
    /* text-align: center; */
}

@media (max-width: 700px){
    header {
        padding-left: 2rem;
    }
}

header h1 {
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--accent-1);
}

nav {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

nav a {
    text-decoration: none;
    color: var(--accent-1);
    font-family: "Domine", serif;
    display: inline-block;
    margin: 0 1rem;
    transition: background-color .5s ease;
}

nav a:hover {
    color: var(--accent-2);
}

@media (max-width: 750px) {
    nav a {
        margin: 0, .5rem;
    }
}

main {
    margin: 0;
}

@media (max-width: 870px) {
    main {
        margin: 2rem;
    }
}

@media (max-width: 600px) {
    main {
        margin: 1rem
    }
}
.about-section,
.portfolio-section,
.contact-section {
    margin-bottom: 5rem;
}

.about-content,
.portfolio-content,
.contact-content {
    max-width: 50rem;
    margin: 2rem auto;

}

.about-content h2,
.portfolio-content h2,
.contact-content h2 {
    padding: 2rem 0;
}

.portfolio-item {
    margin-bottom: 5rem;
    background-color: #e2d9d6;
    padding: 4rem;
    border-radius: .5rem;
    box-shadow: 0 0.25rem 0.375rem #393635;
}

@media (max-width: 800px){
    .portfolio-item {
        padding: 3rem;
    }
}

@media (max-width: 650px){
    .portfolio-item {
        padding: 2rem;
    }
}

.portfolio-item h3 {
    margin: 1rem 0;
}

.portfolio-item p {
    font-size: 1.2rem;
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
}

footer {
    text-align: end;
}

footer p {
    font-size: 1.2rem;
}


/* style classes  */

.accent-1 {
    color: var(--accent-2);
}

  