/* Css resets  */
/* Updated: 2025-02-17 - Cache bust */

* {
    margin: 0;
    padding: 0;
}

/* respect user font size preferences */
html {
    font-size: 100%;
}

/* General CSS  */
body {
    background-color: #cfc7bd;
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

header {
    padding: 6rem;
    margin-bottom: 3rem;
    background-color: #ded8d6;
    color: #645c59;
    border-bottom: #564d4a 1px solid;
    /* text-align: center; */
}

header h1 {
    font-size: 3rem;
}

nav {
    position:absolute;
    right: 2rem;
    top: 2rem;
}

nav a {
    text-decoration: none;
    color: #564d4a;
    display: inline-block;
    margin: 0 1rem;
}

main {}

.about-section,
.portfolio-section,
.contact-section {
    margin-bottom: 5rem;
}

.about-content,
.portfolio-content,
.contact-content {
    max-width: 50rem;
    margin: 2rem auto;

}

.about-content h2,
.portfolio-content h2,
.contact-content h2 {
    padding: 2rem 0;
}

.portfolio-item {
    margin-bottom: 5rem;
    background-color: #e2d9d6 ;
    padding: 4rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 0.25rem 0.375rem #393635; 
    

}

.portfolio-item h3 {
    margin: 1rem 0;
}

.portfolio-item p {
    font-size: 1.2rem;
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
}

.about-section {
    background-color: #e7e3e2;

}


footer {
    text-align: end;
}

footer p {
    font-size: 1.2rem;
}